* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root {
    --border-radius: 0.4em;
    --border: 0.1rem solid #d6aa19;
    --color: #d6aa19;
}

body {
    background-image: linear-gradient(90deg, 
    rgba(0,0,0,0.3) 0%,  
    rgba(0,0,0,0.7) 100%), 
    url('https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1744&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

nav {
    display: flex;
    justify-content: center;
}

.logo-img {
    width: 15rem;
    height: auto;
    margin-top: 2rem;
}

button {
    width: 12rem;
    height: 4rem;
    border-radius: var(--border-radius);
    border: var(--border);
    background-color: transparent;
    color: var(--color);
    font-size: 1.3rem;
}

.container {
    width: 100%;
    min-height: 35rem;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.display-result {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50rem;
    border: var(--border);
    border-radius: var(--border-radius);
    margin-top: 3rem;
    position: relative;
    justify-content: center;
}

.results-characters {
    color: var(--color);
    padding: 2rem;
}

.data-field {
    border: var(--border);
    height: 2rem;
    border-radius: var(--border-radius);
    margin: 0.7rem;
    padding-top: 0.5rem;
    padding-left: 0.8rem;
}

.same-line {
    height: 2rem;
    width: 11.3rem;
    display: inline-flex;
    gap: 0.5rem;
}

.close-result {
    font-size: 1rem;
    color: var(--color);
    padding: 0.5rem;
    font-family: sans-serif;
    line-height: 0.75;
    cursor: pointer;
    position: absolute;
    right: 0%;
}
.option-buttons {
    align-self: center;
    padding-top: 1.8em;
    padding-bottom: 1em;
}
.img {
    width: 20rem;
    height: 20rem;  
    padding: 1.5em;  
}
.display-image {
    width: 19rem;
    height: 19rem;
    object-fit: cover;
    object-position: 20% 5%;
    border: var(--border);
    background-color: black;
}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1em;
    padding: 1em;
    width: 100%;
}
.card {
display: flex;
flex-direction: column;
box-shadow: 0 0 0 0 #d6aa19;
transition: 0.3s;
border-radius: 0.6rem; 
color: var(--color);
border: var(--border);
overflow: hidden;
}
.card img {
max-height: 15rem;
object-fit: cover;
aspect-ratio: 1 / 1;
object-position: center top;
}
.card-text {
    flex-grow: 1;
    font-size: 1em;
    padding: 1em;
    background-color: rgb(49, 48, 48);
    text-align: center;
}
.card:hover {
box-shadow: 0 0 1rem 0 #d6aa19;
cursor: pointer;
transform: scale(1.05);
}  
.hide {
display: none;
}
footer {
    display: flex;
    justify-content: center;
    color: var(--color);
    margin-top: 4rem;
}
@media (max-width: 50rem) {
    .display-result {
    justify-content: center;
    flex-direction: column;       
    width: 100%;
    }
    .same-line {
        display: none;
    }
    .img {
        align-self: center;
        padding: 0%;
        margin-top: 1rem;        
    }
    .display-image {
        width: 20rem;
        height: 20rem;
    }
    .close-result {
        top:0%;
    }
    button {
    width: 7rem;
    height: 2;
    }
    footer {
        display: none;
    }
  }
  